* {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

/* Top header */

.top-header,
.bottom-header {
  display: flex;
  color: #fff;
  background: #1f2937;
}

.top-header {
  justify-content: space-between;
  padding: 12px 12% 80px 12%;
}

.top-header h1 {
  font-size: 20px;
}

.top-header ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.top-header ul a {
  color: #fff;
  text-decoration: none;
}

/* bottom-header */

.bottom-header {
  justify-content: space-between;
  padding: 0 12% 80px 12%;
}

.sign-up,
.image-placeholder {
  width: 513px;
  padding: 16px 0;
}

.sign-up {
  display: flex;
  flex-direction: column;
}

.sign-up h2 {
  font-size: 36px;
  font-weight: 800;
  color: #f9faf8;
  margin-right: 25%;
  padding-bottom: 8px;
}

.sign-up p {
  padding-bottom: 8px;
}

.sign-up button {
  width: 82px;
  padding: 4px 16px;
  border-radius: 5px;
  background-color: #3882f6;
  color: #fdfdfd;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #676767;
}

/* main */

main {
  display: flex;
  flex-direction: column;
}

.main-header {
  font-size: 36px;
  font-weight: 800;
  margin: 0 auto 0 auto;
  margin-top: 48px;
}

.images-with_subtext {
  display: flex;
  justify-content: center;
  gap: 56px;
  padding: 48px 0 96px 0;
}

.image-box img {
  height: 170px;
  width: 160px;
  border: solid #3882f6 5px;
  border-radius: 10%;
}

.image-box p {
  width: 160px;
  text-align: center;
  font-style: italic;
  padding-top: 6px;
  padding-left: 6.5px;
}

/* Testamonial Section */

.testamonial {
  display: flex;
  background-color: #e5e7eb;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.quotebox {
  display: flex;
  flex-direction: column;
  color: #1f2937;
  width: 710px;
}

.quote {
  font-size: 24px;
  font-style: italic;
  font-weight: lighter;
  padding-left: 16px;
}

.famous {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 500;
}

/* Call to action section */

.action-box {
  display: flex;
  height: 240px;
  justify-content: center;
  align-items: center;
  gap: 10%;
  gap: 0;
}

.action-box img {
  height: 170px;
}

.call-to_action {
  display: flex;
  align-items: center;
  gap: 80px;
  background-color: #3882f6;
  padding: 16px 80px;
  margin: 0 80px 0 40px;
  border-radius: 4px;
  height: 112px;
  width: 500px;
}

.action-text {
  width: 320px;
  padding-top: 8px;
  color: #f9faf8;
  font-size: 13px;
}

.action-box h2 {
  font-size: 20px;
}

.call-to_action button {
  border: solid #fff 3px;
  border-radius: 4px;
  padding: 4px 24px;
  background-color: #3882f6;
  color: #f9faf8;
}
/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  background-color: #1f2937;
  height: 90px;
}
